{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ title }}</legend>

            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control is-invalid") }}
                <div class="invalid-feedback">{% for e in form.username.errors %}<span>{{ e }}</span>{% endfor %}</div>
                {% else %}
                {{ form.username(class="form-control") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">{% for e in form.email.errors %}<span>{{ e }}</span>{% endfor %}</div>
                {% else %}
                {{ form.email(class="form-control", type="email") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                <small class="form-text text-muted">
                    Mín. 8 caracteres, maiúscula, minúscula, número e caractere especial.
                </small>
                {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid") }}
                <div class="invalid-feedback">{% for e in form.password.errors %}<span>{{ e }}</span>{% endfor %}</div>
                {% else %}
                {{ form.password(class="form-control") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control is-invalid") }}
                <div class="invalid-feedback">{% for e in form.confirm_password.errors %}<span>{{ e }}</span>{% endfor %}</div>
                {% else %}
                {{ form.confirm_password(class="form-control") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
